---
import BastianJuly from '../images/bastian-july.png';
import NerminSejdic from '../images/nermin-sejdic.png';
import TillmanStieger from '../images/tillman-stieger.png';
import LinkedinImage from '../images/linkedin.svg';
import { Image } from 'astro:assets';
---

<div class="bg-background-light text-blue-2 pt-[40px] pb-[40px] pr-[16px] pl-[16px] md:p-[80px] md:pb-[40px]" id="team">
  <h2 class="text-body-dark text-[40px] font-extrabold leading-[48px] md:text-[60px] md:font-bold md:leading-[76px] md:tracking-[0.50px] text-center">
    Get to know your IP Strategy Team
  </h2>
  <div class="mt-[40px] text-[18px] md:text-[20px] font-medium md:font-normal leading-[32px] tracking-[0.50px] text-center">
    The team behind your IP success: Experience, creativity, and dedication together in one team.
  </div>
</div>
<div class="h-[1px] w-full bg-border-primary" />
<div class="bg-background-light  text-blue-2 pt-[40px] pb-[40px] pr-[16px] pl-[16px] md:pb-[80px] md:pl-[80px] md:pr-[80px] flex flex-col md:flex-row ">
  

  <div class="flex flex-col md:mr-[32px]">

    <div class="flex flex-col">
      <div class="flex flex-col">
        <div class="flex flex-row items-center">
          <div class="text-body-dark text-[20px] font-semibold leading-[32px] mr-[30px]">Bastian July, PhD</div>
          <a href="https://www.linkedin.com/in/bastian-july">
            <Image src={LinkedinImage} alt="Bastian July linkedin" width={20} height={20} />
          </a>
        </div>
        <div class="flex flex-col">
          <div class="mt-[24px] text-[20px] leading-[32px] tracking-[0.50px]">
            Bastian is a founder and IP Visionary at the heart of GoodIP, harnessing his legal background and creative spirit to redefine how startups conquer the world of intellectual property. With a knack for unraveling complex technology puzzles, he's your go-to strategist for turning innovations into invaluable assets. Bastian's blend of legal expertise and entrepreneurial insight ensures your IP strategy matches your innovation and business goals.Before Bastian founded GoodIP, he successfully negotiated various multi-million patent license agreements for the lighting company Osram and ran Osram's patent litigations globally. Bastian is admitted to practice law in Germany and New York.
          </div>
          <Image src={BastianJuly} alt="Bastian July" class="mt-[24px]" />
        </div>
      </div>
      <div class="mt-[24px] mb-[24px] h-[1px] w-full bg-border-primary" />
    </div>
  
  
    <div class="flex flex-col">
      <div class="flex flex-col">
        <div class="flex flex-row items-center">
          <div class="text-body-dark text-[20px] font-semibold leading-[32px] mr-[30px]">Jessica Homburg, BSc</div>
          <a href="https://www.linkedin.com/in/jessica-homburg-bb8b201b9/">
            <Image src={LinkedinImage} alt="Jessica Homburg linkedin" width={20} height={20} />
          </a>
        </div>
        <div class="flex flex-col">
          <div class="mt-[24px] text-[20px] leading-[32px] tracking-[0.50px]">
            Jessica, our Operations Dynamo, is the organizational backbone that keeps GoodIP running seamlessly. Her meticulous attention to detail and streamlined processes ensure that your IP journey is smooth and efficient. With a finger on the pulse of every project, Jessica anticipates your needs and orchestrates our team's efforts, making certain your IP strategy flourishes while you focus on growth.
          </div>
        </div>
      </div>
      <div class="mt-[24px] mb-[24px] h-[1px] w-full bg-border-primary md:hidden" />
    </div>

  </div>

  <div class="flex flex-col md:ml-[32px]">

    <div class="flex flex-col">
      <div class="flex flex-col">
        <div class="flex flex-row items-center">
          <div class="text-body-dark text-[20px] font-semibold leading-[32px] mr-[30px]">Nermin Sejdić, MSc</div>
          <a href="https://www.linkedin.com/in/nerminsejdic/">
            <Image src={LinkedinImage} alt="Nermin Sejdićlinkedin" width={20} height={20} />
          </a>
        </div>
        <div class="flex flex-col md:flex-col-reverse">
          <div class="mt-[24px] text-[20px] leading-[32px] tracking-[0.50px]">
            Nermin is a tech enthusiast and his passion for technology is matched only by his dedication to sculpting formidable IP strategies. With a keen eye for spotting innovative potential, he will guide you towards safeguarding their brightest ideas. Armed with technological prowess and wisdom, Nermin navigates the intricate landscapes of patents and secrets, building a fortress of protection for your innovations.Nermin has 3.5 years of experience, and has demonstrated history of working in the industry advising Fortune 500 companies. He gained valuable expertise in various trending technologies such as automotive, 4G-5G, Wi-Fi, 802.11, IoT, etc.
          </div>
          <Image src={NerminSejdic} alt="Nermin Sejdić" class="mt-[24px]" />
        </div>
      </div>
      <div class="mt-[24px] mb-[24px] h-[1px] w-full bg-border-primary" />
    </div>
  
    <div class="flex flex-col">
      <div class="flex flex-col">
        <div class="flex flex-row items-center">
          <div class="text-body-dark text-[20px] font-semibold leading-[32px] mr-[30px]">Tillman Stieger, PhD</div>
          <a href="https://www.linkedin.com/in/tillmann-stieger-7385a9125/">
            <Image src={LinkedinImage} alt="Tillman Stieger linkedin" width={20} height={20} />
          </a>
        </div>
        <div class="flex flex-col md:flex-col-reverse">
          <div class="mt-[24px] text-[20px] leading-[32px] tracking-[0.50px]">
            Tillman is passionate about aligning IP with business goals, he combines practical patent strategies with efficient IP management. As a European Patent Attorney with a Ph.D. in physics and an M.Sc. in chemistry, he bridges IP law, business models, and corporate strategies. With prior roles as Patent Counsel in a global specialty glass manufacturer and as an IP manager in technology transfer, he has a wealth of experience in IP strategy, enforcement, and commercialization. His academic background includes research in soft matter molecular dynamics.
          </div>
          <Image src={TillmanStieger} alt="Tillman Stieger" class="mt-[24px]" />
        </div>
      </div>
    </div>

  </div>

  


  

</div>
